*{
    margin: 0;
    padding: 0;
  
}
nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 0px 100px;
    padding: 40px;
}
nav>ul>li{
    list-style-type: none;
}
.nav-title{
font-size: 28px;
font-weight: bold;
color: #0D1321;

}
.primary-button{
    box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
border-radius: 8px;
text-align: center;
font-size: 20px;
font-weight: 600;
padding: 17px 24px 17px 24px;

}
.header{
    height: 650px;
  
    background-image: url('./assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-position:center ;
    background-size: cover;
 
  
}
.main-part{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    width: 998px;
height: 582px;
padding: 20px;
gap: 24px;
   
}
.head{
    color: rgb(13, 19, 33);
    text-align: center;
    font-size: 48px;
font-weight: 800;
line-height: 68px;
}
.text{
    font-size: 16px;
font-weight: 400;
line-height: 26px;
color: rgb(13, 19, 33);
text-align: center;
}
.btn{
    width: 208px;
height: 66px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
font-weight: 600;
line-height: 23px;

background: rgb(13, 19, 33);
}
.second-container{
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;

width: 1140px;
height: 1000px;
margin: 0 auto;
gap: 20px;
border-radius: 16px;
background: rgba(13, 19, 33, 0.02);

}
.second-head{
    color: rgb(13, 19, 33);
    font-size: 32px;
font-weight: 800;
line-height: 37px;
text-align: center;
margin-top: 60px;

}
.second-text{
    color: rgb(13, 19, 33);
    font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: center;
margin-top: 10px;
}
.web-dev-1{
    display: flex;
    justify-content: space-between;
align-items: flex-start;
border-radius: 16px;

background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
margin: 32px 0px;
}
.web-dev-2{
    display: flex;
    justify-content: space-between;
align-items: flex-start;
border-radius: 16px;

background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
margin: 32px 0px;
}
.web-dev-3{
    display: flex;
    justify-content: space-between;
align-items: flex-start;
border-radius: 16px;

background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
margin: 32px 0px;
}
.third-head{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
font-weight: 700;
line-height: 36px;
margin: 16px 0px;
}

.third-text{
    color: rgb(13, 33, 15);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.buttn{
    color: rgb(13, 19, 33);
    box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
align-items: center;
padding: 12px 20px 12px 20px;
font-size: 20px;
font-weight: 600;
line-height: 23px;
margin-top: 20px;
}
/* .image{
    height: 240px;
    width: 270px;
} */
.Inspiration{
    display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
/* padding: 0px; */
/* border: 1px solid red;
width: 1140px;
height: 777px; */
}
.ins-title{
    font-size: 32px;
font-weight: 800;
line-height: 37px;
}
.ins-text{
    color: rgb(13, 19, 33);
    font-size: 16px;
font-weight: 400;
line-height: 26px;
margin-top: 18px;
}
.video{
    
    width: 900px;
    height: 550px;
    border-radius: 16px;
   

background: url(Jhankar);
margin-left: 800px;
padding: 20px;
}
.Target{
    
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
}
.target-text{
    color: rgb(13, 19, 33);
    font-size: 32px;
font-weight: 800;
line-height: 37px;
text-align: center;
}
.target-pra{
    color: rgb(13, 19, 33);
    font-size: 16px;
font-weight: 400;
line-height: 26px;
margin-top: 10px;
} 
 .mission{
    /* border: 1px solid red; */
    width: 1140px;
height: 463px;
margin: 0 auto;
 }
 .need{
    display: flex;
    width: 1140px;
    height: 500px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
/* padding: 50px 50px; */
    



 }
 .one{
    width: 364px;
height: 300px;
padding: 40px;
    border-radius: 16px;
background: rgba(255, 76, 30, 0.05);
align-items: center;


 }
 .two{
    width: 364px;
    height: 300px;
    padding: 40px;
        
        border-radius: 16px;

background: rgba(0, 76, 232, 0.05);
 }
 .three{
    width: 364px;
    height: 300px;
    padding: 40px;
        
        border-radius: 16px;
        background: rgba(255, 223, 0, 0.05);
 }
 .name{
    color: rgb(13, 19, 33);
    font-size: 24px;
font-weight: 800;
line-height: 36px;
margin-top: 10px;
 }
.txt{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: rgb(13, 19, 33);
}
.click{
    text-decoration-line: underline;
    font-size: 16px;
font-weight: 700;
line-height: 19px;
margin-top: 10px;
}


.last{
    width: 1140px;
    height: 314px;

background-image: url("assets/handshake.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
margin: 0 auto;
/* padding: 80px; */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;



}
.title{
    color: rgb(255, 255, 255);
    font-size: 32px;
font-weight: 700;
line-height: 36px;
text-align: center;

}

.sub-title{
    color: rgb(255, 255, 255);
    font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: center;



}
.touch{
    width: 548px;
height: 57px;
    box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;

background: rgb(255, 255, 255);
padding: 19px 20px 19px 20px;



}
.sub {
    border-radius: 8px;

background: rgb(255, 255, 255);
align-items: center;
padding: 17px 20px 17px 20px;
margin-left: 400px;
}
.pp{
    font-size: 20px;
font-weight: 600;
line-height: 23px;
color: rgb(13, 19, 33);
}
.icon{
    margin: 0px 24px; 
}
.foot{
    display: flex;
   justify-content: space-between;
    padding: 32px 150px 32px 150px;
    border-radius: 16px;
    text-align: center;

    border-radius: 16px;

    background: rgba(13, 19, 33, 0.03);
}